* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(110,93,207);
    background: -moz-radial-gradient(circle, rgba(110,93,207,1) 10%, rgba(76,227,121,1) 38%, rgba(110,93,207,1) 52%, rgba(76,227,121,1) 94%);
    background: -webkit-radial-gradient(circle, rgba(110,93,207,1) 10%, rgba(76,227,121,1) 38%, rgba(110,93,207,1) 52%, rgba(76,227,121,1) 94%);
    background: radial-gradient(circle, rgba(110,93,207,1) 10%, rgba(76,227,121,1) 38%, rgba(110,93,207,1) 52%, rgba(76,227,121,1) 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6e5dcf",endColorstr="#4ce379",GradientType=1);
    align-content: center;
}

header{
    background-color: #6e5dcf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

header img{
    width: 148px;
}

header h1{
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}


#display {
    font-family: monospace;
    color: black;
    background-color: #beb5ec;
    width: 207px;
    height: 30px;
    margin: 2px;
    font-size: 22px;
    text-align: right;
    padding: 5px;
}


.calc {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 71, 6, 0.726);
    border-style: double;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: content-box;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #6e5dcf;
    color:#fff;
    margin: 2px;
    border: none;
    border-radius: 5%;
}

.botao:hover {
    background-color: #beb5ec;
    color: green
}

.voltar a {
    color: #beb5ec;
}

.creditos {
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    align-content: center;
    display: inline;
    text-align: center;
}

.creditos a {
    color: greenyellow;
}

.idiomas {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.idiomas a {
    color: greenyellow
}

.selector {
    color: greenyellow;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.selector a {
    color:white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

.githubimg {
    padding-left: 15px;
    align-items: flex-end;
}


footer {
    height: 32vh;
    margin: auto;
    background-color: #6e5dcf;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}